button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}
#increment-btn{
    background: blue;
}

#save-btn{
    background: gray;
}

.navbar{
    float: right;
    text-decoration: none;
    padding: 15px 17px;
    text-align: center;
    color: black;
    background-color: dimgray;

}
.navbar:hover{
    background-color: gray;
    color: white;
}

